html,
body,
header,
.view {
height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
}

section {
  padding-bottom: 10rem;
}

.container {
  width: 970px;
}

.headline-wrapper {
  margin-bottom: 2rem;
  text-align: center;
}

.pattern {
  display: inline-block;
  height: 72px;
  position: relative;
  background-image: url("../img/small-crown.png");
  background-repeat: no-repeat;
  background-position: center 59px;
  transform: translateY(-1.875rem);
  font-size: 3rem;
}

.pattern::before,
.pattern::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 40%;
  bottom: 10px;
  background-color: #00aaef;
}

.pattern::before {
  left: 0;
}

.pattern::after {
  right: 0;
}

.btn {
  display: block;
  color: white;
  background-color: #00aaef;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form input,
.form textarea {
  margin: 0.3125rem;
  padding: 1rem;
  width: 70%;
  border: none;
  text-align: center;
  background-color: #eeeeee;
  font-size: 0.875rem;
  font-weight: 500;
  color: #393939;
}

.form input:active,
.form input:focus,
.form textarea:active,
.form textarea:focus{
  text-align: left;
  font-weight: 400;
  color: #000000;
}

.form .btn {
  margin-right: 0.2rem;
  padding: 1rem;
  width: 70%;
}


/* ------------ Header Block ------------ */

.header {
  position: relative;
  z-index: 1;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top, #040726, transparent);
}

.header .parallax {
  background-image: url('../img/bg/main-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header .info-wrapper {
  padding-top: 3.4375rem;
}

.header .logo {
  margin: auto;
}

.phone-wrapper a,
.contact_us-wrapper a {
  color: rgba(255, 255, 255, .6);
}

.contact_us-wrapper a {
  border-bottom: 1px dashed;
}

.phone-wrapper a:hover,
.contact_us-wrapper a:hover,
.phone-wrapper a:active,
.contact_us-wrapper a:active {
  color: rgba(255, 255, 255, 1);
}

.navbar {
  margin-top: -6.875rem;
  bottom: 0;
  background: transparent;
  z-index: 2;
  box-shadow: none;
}

.navbar-nav {
  width: 100%;
  justify-content: space-between;
}

.nav-link {
  font-weight: 500;
}

/* ------------ About Block ------------ */

.about {
  padding-top: 10rem;
}

.about h2 {
  font-size: 3rem;
  line-height: 3.75rem;
}

.about h2 span {
  color: #00aaef;
}

.about-text-wrapper {
  padding-top: 0.6rem;
}

.about-text-wrapper strong {
  font-weight: 500;
}

.about-text-wrapper p {
  margin-bottom: 0.2rem;
  padding-left: 5.3125rem;
  padding-right: 3.75rem;
}

.about-text-wrapper ol {
  margin: 2rem 0;
  padding-left: 5.3125rem;
  padding-right: 5.5rem;
}

.about-text-wrapper ol li {
  padding: 0.25rem 0;
}

/* ------------ Gallery Block ------------ */

.gallery {
  background-color: #eeeeee;
}

.gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-list .photo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-list p {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.gallery-list p span{
  color: #00aaef;
}

.gallery .btn {
  margin: 0.2rem auto;
  padding: 0.75rem 3rem;
}

/* ------------ Consultation Block ------------ */

.consultation .headline-wrapper {
  margin-bottom: 5rem;
}

.consultation h3 {
  margin-bottom: 2rem;
  padding-right: 5rem;
  font-weight: 500;
}

.consultation .description p {
  padding-right: 2rem;
}

/* ------------ Testimonials Block ------------ */

.testimonials {
  background-color: #eeeeee;
}

.testimonials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.testimonials-author-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.testimonials-author-wrapper img {
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

.testimonials-author-wrapper b {
  font-weight: 600;
}

.testimonials-author-wrapper i {
  font-weight: 400;
  color: #696973;
}

.testimonials-list p {
  margin-top: 2.25rem;
  line-height: 1.375rem;
  text-align: center;
  font-weight: 400;
}

/* ------------ Contact Block ------------ */

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-info p {
  margin: 0;
  padding: 0;
}

.contact-info a,
.contact-info p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.contact-info .email {
  margin-bottom: 1.5rem;
}

.contact-info .address {
  margin-top: 1.5rem;
  width: 36%;
}

/* ------------ Footer ------------ */

footer {
  padding: 13rem 0 2rem;
  background-image: url('../img/bg/footer-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

footer img {
  display: block;
  margin: 0 auto 10rem;
}

footer .copyright {
  margin-bottom: 2rem;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

#toTop {
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  color: #00aaef;
  cursor: pointer;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

